.page {
  .header {
    h1 {
      padding: 20px;
      margin: 0;
    }
  }

  .body-container {
    padding: 20px;
    
    .input-container {
      display: flex;
      column-gap: 28px;
  
      .get-button {
        height: 40px;
      }
    }

    .prices-card {
      max-width: 550px;

      mat-card-content {
        margin: 0 16px;
      }
    }
  }
}