<div class="page">
  <div class="header">
    <h1>Stock market advisor</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="body-container">
    <div *ngIf="dataRange$ | async as dataRange">
      Allowed Date Range: {{dataRange.start | date:'medium'}} - {{dataRange.end | date:'medium'}}
    </div>
    <form class="input-container" [formGroup]="dateControl">
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="fromPicker" placeholder="Choose from date" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="$any(fromPicker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #fromPicker [showSeconds]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="toPicker" placeholder="Choose to date" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="$any(toPicker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #toPicker [showSeconds]="true"></ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter funds" type="number" formControlName="funds">
      </mat-form-field>

      <button class="get-button" mat-stroked-button (click)="getStockBuySellBest()">Get Dates</button>
    </form>
    <mat-card *ngIf="bestPricePoints$ | async as points" class="prices-card">
      <mat-card-header>
        <mat-card-title>Best prices</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="points.buy">Best time to buy: {{points.buy.time | date:'medium'}}</div>
        <div *ngIf="points.sell">Best time to sell: {{points.sell.time | date:'medium'}}</div>
        <div *ngIf="stockStats$ | async as stats">
          <div>Stocks bought: {{stats.stocksBoughtAndSold}}</div>
          <div>Total profit: {{stats.profit}}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>