.page {
  .header {
    h1 {
      padding: 20px;
      margin: 0;
    }
  }

  .body-container {
    .input-container {
      padding: 20px;
      display: flex;
      column-gap: 28px;
  
      .get-button {
        height: 40px;
      }
    }
  }
}